process.num = 14
simulation = false
slave = lsec2:factory,lsec3:factory,lsec4:factory,lsec5:factory
slave = lsec6:factory,lsec7:factory,lsec8:factory,lsec9:factory
slave = lsec10:factory,lsec11:factory,lsec13:factory
slave = lsec15:factory,lsec16:factory

process.initializer = lse.neko.filters.ClockSynchronizerTest
network = lse.neko.networks.comm.TCPNetwork

clock.precise = true
