simulation = true

network = lse.neko.networks.sim.MetricNetwork
#network = lse.neko.networks.sim.RandomNetwork
#RandomNetwork.lambda = 1
network.lambda = 1
network.multicast = true
RandomNetwork.seed = 10

heartbeat.send = 500
heartbeat.timeout = 1000
heartbeat.useApplicationMessages = false
heartbeat.measureQoS = false
heartbeat.network.index = 0

process.initializer = lse.neko.abcast.tests.LatencyTestInitializer

algorithm.initializer = lse.neko.layers.GroupMembershipInitializer
heartbeat = false

process.num = 10
client.num = 1
server.num = 10

client.frequency = 50
client.distribution = constant
#client.distribution = exponential

clock.precise = true
clock.precision = 0.05

test.duration = 2000
test.startDelay = 100
test.endDelay = 100

network.outgoingQueue.high = 3000
network.outgoingQueue.low = 2500

# Write the log to a file and to the console.
handlers = java.util.logging.FileHandler
#,java.util.logging.ConsoleHandler
# Sets the name of the log file.
java.util.logging.FileHandler.pattern = Latency.log
java.util.logging.ConsoleHandler.level = ALL
#lse.neko.layers.GroupMembershipLayer.logging.level = INFO
messages.level = FINE
# to print just everything
#lse.neko.sim.level = FINE


lse.neko.layers.level = WARNING
#lse.neko.layers.StabilityLayer.level = FINEST
#lse.neko.layers.AckCollector.level = FINE
#lse.neko.layers.FixedSequencerNU.level = FIN
#lse.neko.layers.FixedSequencerU.level = FINEST
#lse.neko.layers.GroupMembershipLayer.level = FINEST
#lse.neko.layers.GroupMembershipState.level = FINE
#lse.neko.layers.VSSequencerLayer.level = FINEST
#lse.neko.layers.VSSequencerLayer.level = FINE
#lse.neko.layers.VSStateTransfer.level = FINE
#lse.neko.layers.MessageReplicator.level = FINEST
#lse.neko.failureDetectors.FailureDetector.level = FINE
#lse.neko.util.Timer.level = FINE
#lse.neko.failureDetectors.Heartbeat.level = FINE
#lse.neko.consensus.level = FINE

# a parameter for failure simulation
failure.time = -1
# a parameter for Stability module

VSStabilityLayer.maxDelay = 100
VSStateTransfer.maxDelay = 1000

FixedSequencerU.acksDelay = false
FixedSequencerU.acksLimit = 100


