process.num = 2
process.initializer = lse.neko.layers.ListFragmenterTestInitializer

simulation = true
slave = localhost:factory
#network = lse.neko.networks.comm.TCPNetwork
network = lse.neko.networks.sim.RandomNetwork
RandomNetwork.lambda = 1
RandomNetwork.seed = 0

# Write the log to a file and to the console.
handlers = java.util.logging.FileHandler,java.util.logging.ConsoleHandler
# Sets the name of the log file.
java.util.logging.FileHandler.pattern = log.log
# The messages channel logs all messages exchanged among processes
# at the FINE level.
# The file handler logs them.
# The console handler does not log them, as it only logs messages
# at levels INFO or higher.
messages.level = FINE
